:root {
  --menu-height: 3em;
}
* {
  font-family: "Atkinson Hyperlegible", sans-serif;
  padding: 0;
  margin: 0;
}
html,
body {
  margin: 0 !important;
  padding: 0;
  height: 100vh;
}
h1 {
  color: black;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  line-height: 1.5;
}

body {
  min-height: 100vh;
  margin: 0;
}
#wrapper {
  max-width: 1170px;
  min-height: 100vh;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
}

.menu-wrap {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--menu-height);
  background-color: #a83a24;
  padding: 10px 15px;
  z-index: 9999;
}

.menu-toggle-container {
  position: relative;
  z-index: 10000;
}
/* ☰ or ← */
.menu-icon {
  font-size: 2em;
  color: white;
  cursor: pointer;
  z-index: 10000;
}

/* place Wayfinder in middle */
.title {
  position: absolute;
  left: 47%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title a {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
}

.logo img {
  width: 2em;
  height: auto;
  margin-right: 10px;
}

/* menu after click burger-icon */
.custom-menu-class {
  display: none;
  position: absolute;
  top: 4em;
  left: 0;
  width: 100%;
  padding: 0 1em;
  box-sizing: border-box;
  background-color: white;
}

.custom-menu-class ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 93%;
}

.custom-menu-class ul li a {
  font-size: large;
  display: block;
  width: calc(100% - 1px);
  box-sizing: border-box;
  padding: 1em;
  color: black;
  text-decoration: none;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* shadow */
  margin: 8px 0;
  border-radius: 15px;
  margin-bottom: 5px; /* between each menu*/
  transition: box-shadow 0.3s ease;
}
/*←*/
.back-button-container {
  margin-top: 0;
  display: flex;
  align-items: center;
  background-color: white;
  padding-top: 80px;
  padding-left: 15px;
}
.back-button-container.custom-bg-color {
  background-color: #f2f2f2;
}

.back-icon-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  z-index: 10; /*bring GoBack icon front and clickable with relative*/
}
.back-icon {
  font-size: 1.8em;
  margin-right: 10px;
  color: #333;
}

/*Go back*/
.go-back-text {
  position: relative;
  z-index: 10; /*bring GoBack text front and clickable with relative*/
  font-size: 1.2em;
  color: #000;
}
.back-icon-link:hover .back-icon,
.back-icon-link:hover .go-back-text {
  color: #0048ff;
}

/*landing page*/
div.frontTop {
  background-image: url("img/map.jpg");
  background-attachment: scroll;
  background-size: cover;
  background-position: center center;
  color: white;
  text-align: center;
  padding: 100px 20px;
  height: 100vh;
}
.frontTop h1,
.frontTop h2 {
  font-size: 3em;
  margin: 0;
  padding: 0.5em 0;
}
/*what r u looking for*/
div.top {
  /*min-height: 100vh;*/
  /*overflow-y: auto;*/
  margin-top: 1em;
}
.wp-block-button__link {
  background-color: #fff;
  color: black;
  margin: 1em;
  border: 2px solid black;
  padding: 10px 10px;
  font-size: 14px;
  height: auto;
}
.wp-block-buttons > .wp-block-button.wp-block-button__width-25 {
  width: calc(50% - var(--wp--style--block-gap, 0.5em) * 0.75);
}
a.wp-block-button__link.wp-element-button {
  display: inline-block;
  max-width: 170px;
  min-height: 130px;
  border-radius: 15px;
  border: #f2f2f2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin: 5px;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}

div#button-widget-area.chw-widget-area.widget-area {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 10px;
  min-width: 330px;
}

img.wp-image-92,
img.wp-image-93,
img.wp-image-94,
img.wp-image-95,
img.wp-image-96,
img.wp-image-98,
img.wp-image-100,
img.wp-image-144,
img.wp-image-97,
img.wp-image-145 {
  position: relative;
  top: -10px !important;
}
div#category-container {
  text-align: center;
}

/* return after hour */
.returnAftertop p {
  padding: 10px;
}

/* print & scan page */
.printtop p {
  font-size: 16px;
  padding: 10px;
}

/* oboriginal engagement page */
.aboriginaltop p {
  font-size: 16px;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

/* find library items */
.findItemtop p {
  font-size: 16px;
  padding: 10px;
}

.findItemtop h2 {
  padding: 10px;
  line-height: 1.5;
  text-align: left;
}

/* self-loan page */
.selfLoanTop p {
  font-size: 16px;
  margin-bottom: 0;
}

/* accessibility and learning support page */
.accessibilityTop p {
  font-size: 16px;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.categoryGoHomeButton{
  padding: 30px
}

/* Need Help Page */

div#custom-need-help-widget.chw-widget-area.widget-area {
  padding-top: 0;
  justify-content: center !important;
  align-items: center !important;
}
.need-help-images * {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 40px;
}
.need-help-p * {
  font-size: 17px;
  padding-right: 10px;
  padding-left: 10px;
}

.need-help-h1 * {
  margin-top: 5px;
  padding-bottom: 10px;
}
#need-help-slider{
  /*min-height: calc(100vh - var(--menu-height));*/
  /*overflow-y: auto;*/
  max-width: 100%;
  overflow-x: hidden;

  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.n2-ss-widget.n2-style-6679a19c901d61fb802720533bbad114-heading.nextend-arrow.n2-ow-all.nextend-arrow-next.nextend-arrow-animated-fade,
.n2-ss-widget.n2-style-6679a19c901d61fb802720533bbad114-heading.nextend-arrow.n2-ow-all.nextend-arrow-previous.nextend-arrow-animated-fade {
  top: -60px;
}


/*sub page of category*/
.desktop,
div.studyrmtop,
div.toilettop,
div.returnAftertop,
div.printtop,
div.aboriginaltop,
div.classrmtop,
div.findItemtop,
div.selfLoanTop,
div.accessibilityTop {
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 3em;
  padding-top: 20px;
  margin-top: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wp-block-button__link.wp-element-button {
  margin-left: 0;
  margin-right: 0;
}
img.background-vector {
  width: 100%;
}
.desktop img.background-vector,
.aboriginaltop img.background-vector,
.toilettop img.background-vector,
.returnAftertop img.background-vector,
.printtop img.background-vector,
.findItemtop img.background-vector,
.selfLoanTop img.background-vector,
.accessibilityTop img.background-vector {
  z-index: -1;
}
.classroomTop img.background-vector {
  margin-top: 20px;
}

/**library desk*/
.desktop h1,
p,
ul#desk-list {
  margin-bottom: 10px;
  margin-top: 10px;
}

/* .desktop h1 {
  font-size: 36px;
}  in order to be consistancy, just comment this out for specific styling*/

.desktop p {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0;
}

.desktop .image-container img {
  padding: 0;
}

#desk-list li {
  font-size: 16px;
}

#desk-list {
  list-style-type: disc;
  padding-left: 20px; /* disk position */
  margin: 0 auto; /* center */
  display: block;
  max-width: 70%; /* stop expand */
}
#desk-list li {
  text-align: left;
  margin: 0.5em 0;
}
div.image-container {
  text-align: center;
}
div.image-container img {
  max-width: 100%;
  height: auto;
}

div.studyrmtop h2,
h3,
p {
  margin-bottom: 1.5em;
}
div.toilettop h1,
div.returnAftertop h1,
.selfLoanTop h1 {
  margin-top: 10px;
}
.printtop h1,
.aboriginaltop h1,
.findItemtop h1,
.accessibilityTop h1 {
  margin-bottom: 1em;
  margin-top: 1em;
}

div.toilettop div.image-container img {
  border-radius: 5%;
}

div.returnAftertop div.image-container img {
  border-radius: 5%;
}
p {
  margin-bottom: 1.5em;
}

div.aboriginal-image-container img {
  border-radius: 5%;
}
div.classrmtop h1,
p {
  margin-bottom: 1.5em;
}
div.findItem h1,
h2,
p {
  margin-bottom: 1.5em;
}
.categoryGoHomeButton {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
img.category-images {
  display: block;
  height: auto;
  padding-top: 40px;
}

/* toilet page */
.toilettop p {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 0;
}

.toilettop .image-container img {
  padding: 10px;
}

.toilettop p {
  margin-top: 0;
}

/* classroom page */
.classroom-image-container {
  position: relative;
  width: 100%;
}

.background-vector {
  position: absolute;
  width: 100%;
  height: 100%;
}
div#custom-classroom-widget.chw-widget-area.widget-area {
  margin-top: 90px;
  padding-top: 20px;
}

#studyRoomGoHomeButton {
  text-align: center;
  margin-top: 60px;
  padding-bottom: 30px;
}
#classroomGoHomeButton {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 30px;
}
.category-images * {
  display: block;
  max-width: 400px;
  height: auto;
  margin: 10px;
  border-radius: 20px !important; /* try to see if the picutre's corner can change the  */
}

/* studyroom page  */
.studyrmtop .studyroom-image-container img.background-vector {
  left: auto;
  right: 0;
  height: 90%;
}


/*contact page*/
div.contacttop {
  background-color: #f2f2f2;
  min-height: 90vh;
  display: flex;
  /*padding-top: 1.5em;*/
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
  align-items: center;
  justify-content: center;

}
h2,
p,
ul#contact-list {
  color: black;
  text-align: left;
}
.contacttop h1 {
  margin-bottom: 0.5em;
  font-size: 25px;
}
ul#contact-list {
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  display: block;
}
ul#contact-list li {
  margin-bottom: 1em;
  font-size: 18px;
}
ul#contact-list li a {
  text-decoration: none;
  color: #0048ff;
}
li#contact-library-link {
  text-align: center;
  text-decoration: underline #0048ff;
}
#contact-text {
  text-align: center;
  font-weight: bold;
}
.contact-info {
  font-weight: normal;
}
li#contact-library-link:active {
  font-weight: bold;
}
#contact-container {
  background-color: white;
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/*feedback page*/
div.feedbacktop {
  position: relative;
  /*z-index: 1;*/
  /*overflow-y: auto;*/
  /*max-height: 90vh;*/
  width: 100%;
  text-align: center;
  padding-top: 100px;
}
.feedback-h1 {
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 23px;
  text-align: center;
}

#theForm {
  height: 100vh;
  background-color: #f2f2f2;
  margin: 0 auto;
  border: none;
  outline: none;
  padding-top: 5px;
}

input#checkbox {
  text-align: left;
}
div.two input {
  align-items: center;
  height: 2em;
}
#title,
#email {
  padding: 0 0 0 15px;
  font-size: 18px;
  margin: 5px 5px;
}
#enquiry {
  padding: 15px 10px 10px 15px;
  font-size: 18px;
  margin: 5px 5px;
  max-height: 120px;
}
/*input#terms {*/
/*  margin: 5px 15px 15px 0;*/
/*}*/

div.two input,
div.three textarea {
  width: 500px;
  padding: 0.15em;
  border-radius: 5px;
  border: 1px solid #000;
  outline: none;
  min-width: 100px;
  margin: auto 0;
}
div.three textarea {
  height: 10em;
  margin-bottom: 40px;
}

div.one {
  display: block;
  width: 80%;
  text-align: center;
  padding-top: 20px;
}
.four {
  text-align: center;
  padding: 5px;
  font-size: 18px;
}
div.two label,
div.three label {
  display: block; /* change label into block and able to change width */
  font-weight: bold;
  margin: 0.5em 0.5em 0 0.5em;
  font-size: 18px;
  text-align: left;
}
#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#feedback-button-container{
  padding: 15px;
}

.submit {
  width: 160px;
  height: 40px;
  color: white;
  background-color: #a83a24;
  text-align: center;
  line-height: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 10px;
  font-size: 18px;
  padding: 5px;
}

#cancel {
  width: 160px;
  height: 40px;
  color: #a83a24;
  background-color: #e6d8cf;
  text-align: center;
  line-height: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 2em;
  font-size: 18px;
}

/* thank you page */

div.thank-you-container {
  text-align: center;
}
.col {
  margin-top: 80px;
}
.col h1 {
  font-weight: 800;
  padding-bottom: 10px;
  color: #23272a;
}
.col p {
  font-size: 19px;
  color: black;
}
.col .col-md-8 {
  background-color: #f2f2f2;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: auto;
  box-sizing: border-box;
}
.thankstop {
  background-color: white;
  height: 100vh;
  display: flex;
  /*padding-top: 3em;*/
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
  align-items: center;
  justify-content: center;
}
#thanks-text {
  font-size: 19px;
  text-align: center;
}
#feedback-return-text {
  font-size: 19px;
  margin: 0;
  margin: 60px;
  text-align: center;
}
#feedback-return-text > a {
  text-decoration: underline #a83a24;
  color: #a83a24;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
#feedback-return-text > a.active {
  font-weight: bold;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.padded-link {
  padding-top: 30px;
  display: inline-block;
}
/* map */

.map-container {
  /* position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.map-container h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: black;
  font-size: 2rem;
  background-color: #e6d8cf;
  border-radius: 8px;
}

.map-container h1.hidden {
  opacity: 0;
  pointer-events: none;
}

.map-container iframe {
  /* padding: 20px 0 0 0;
  width: 100%;
  height: calc(100vh - var(--menu-height));
  top: var(--menu-height);
  left: 0;
  position: absolute;
  border: none;
  overflow: hidden; */

  padding: 4em 0 0 0;
  flex: 1;
  width: 100%;
  height: 100%;
  border: none;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  /*category*/
  a.wp-block-button__link.wp-element-button {
    min-height: 120px;
    max-width: 150px;
  }
  div#button-widget-area.chw-widget-area.widget-area {
    min-width: 300px;
    padding-right: 10px;
    padding-left: 5px;
  }
  /*need-help*/
  div#custom-need-help-widget.chw-widget-area.widget-area {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 78%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
  }
  .n2-ss-widget.n2-style-6679a19c901d61fb802720533bbad114-heading.nextend-arrow.n2-ow-all.nextend-arrow-next.nextend-arrow-animated-fade{
    top: -70px;
    left: 20px;
  }
.n2-ss-widget.n2-style-6679a19c901d61fb802720533bbad114-heading.nextend-arrow.n2-ow-all.nextend-arrow-previous.nextend-arrow-animated-fade {
  top: -70px;
  right: 20px;
}

  .need-help-images * {
    width: 90% !important;
  }
  .need-help-p * {
    font-size: 15px;
    padding-left: 0;
    padding-right: 0;
  }
  /*feedback */
  /*div.two label,*/
  /*div.three {*/
  /*  padding-left: 5px;*/
  /*}*/
  #title,
  #email {
    max-width: 270px;
  }
  #enquiry {
    max-width: 270px;
  }
}

@media screen and (min-width: 430px) {
  /*feedback */
  .feedback-h1 {
    font-size: 30px;
  }
  /*contact */
  .contacttop h1 {
    font-size: 27px;
  }
  ul#contact-list li {
    font-size: 20px;
  }
  @media screen and (min-width: 600px) {
    /*feedback */
    .feedback-h1 {
      font-size: 36px;
    }
  }
}

@media screen and (min-width: 700px) {
  /*contact*/
  #contact-container {
    padding-left: 0;
    padding-right: 0;
    width: 500px;
  }
  .contact-info {
    margin-left: 40px;
  }
  h2,
  p,
  ul#contact-list {
    margin-bottom: 1.5em;
  }
  .contacttop h1 {
    font-size: 36px;
  }
  ul#contact-list li {
    padding-left: 20px;
    font-size: 25px;
  }
  /*feedback*/
  .col h1 {
    font-size: 36px;
  }
  .col .col-md-8,
  #feedback-return-text {
    padding: 20px;
  }
  /*thank-you*/
  #thanks-text {
    font-size: 25px;
  }

}
@media screen and (min-width: 780px) {
  /*category*/
  a.wp-block-button__link.wp-element-button {
    margin: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  a.wp-block-button__link.wp-element-button {
    margin-bottom: 0;
  }
  /*contact*/
  #contact-container {
    width: 600px;
  }
  .contact-info {
    margin-left: 100px;
  }
}

@media screen and (min-width: 850px) {
  .menu-wrap {
    padding: 10px 0;
  }
  .menu-icon {
    display: none; /* hide hamburger icon on larger screens */
  }
  .custom-menu-class {
    position: absolute;
    top: -1.5em; /* move navigation links up to fit content horizontally */
    padding-top: 0;
  }
  #checkbox:checked ~ .custom-menu-class ul {
    width: auto; /* when checkbox is checked, expand menu */
  }
  .custom-menu-class ul {
    padding: 45px 0 0 0;
    font-size: 1.2em;
    width: auto;
    background-color: transparent;
  }
  .custom-menu-class ul li {
    display: inline-block;
  }

}

@media screen and (max-width: 850px) {
  #desk-list {
    margin: 1em;
    padding-left: 20px; /* move disc left */
    max-width: 90%;
  }
  #desk-list li {
    font-size: 1.2em;
  }
  /*feedback*/
  div.one {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  /*feedback*/
  div.two input,
  div.three textarea {
    width: 400px;
  }
}
@media screen and (max-width: 430px) {
  /*category*/
  div#button-widget-area.chw-widget-area.widget-area {
    overflow-y: auto;
    max-height: 100vh;
    margin-top: 0;
  }
  a.wp-block-button__link.wp-element-button {
    max-width: 150px;
  }
  /*feedback*/
  div.two input,
  div.three textarea {
    max-width: 300px;
  }
  #theForm {
    overflow-y: auto;
    max-height: 100vh;
  }
  /*contact*/
  #contact-container {
    padding: 25px;
  }
}

/* lisa */
/*///////////////////////////////////// max-width: 400px////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 400px) {
  .desktop h1,
  .accessibilityTop h1,
  .studyrmtop h1,
  .toilettop h1,
  .returnAftertop h1,
  .printtop h1,
  .aboriginaltop h1,
  .findItemtop h1,
  .selfLoanTop h1 {
    font-size: 25px;
  }

  .desktop p,
  .accessibilityTop p,
  .studyrmtop p,
  .toilettop p,
  .returnAftertop p,
  .printtop p,
  .aboriginaltop p,
  .findItemtop p,
  .selfLoanTop p {
    font-size: 15px;
  }


  #desk-list li {
    font-size: 15px;
  }

  .desktop {
    margin-top: 0;
  }

  .desktop .background-vector {
    padding-top: 40px;
  }

  /* studyroom */

  .studyrmtop {
    height: 600px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .n2-ss-slider-controls {
    top: 0 !important;
  }
  #custom-studyroom-widget {
    height: 580px;
  }

  .studyrmtop .studyroom-image-container img.background-vector {
    height: 600px;
  }
  .n2-ss-slider .n2-ss-slider-wrapper-inside .n2-ss-slider-controls {
    height: 650px !important;
  }

  div#n2-ss-3 .n2-font-e94a46bf4417601e4e51ce83eff68b69-hover {
    font-size: 25px !important;
    margin-bottom: 10px !important;
  }

  /* div#n2-ss-3 .n2-font-cd9a48f404ebe3865525c4ed269fee55-paragraph {
    font-size: 15px !important;
  } */

  .n2-ss-section-main-content {
    height: 800px !important;
  }

  div#n2-ss-3 .n2-style-f8293b450b12ef15d5c4ff97a617a3e3-heading {
    margin-bottom: 10px;
  }

  .submit {
    font-size: 16px;
    margin-top: 10px !important;
  }

  /* classroom page */


  img#n2-ss-5item3.skip-lazy{
    border-radius:20px !important;
  }


  .classroomTop {
    height: 650px;
  }
  #custom-classroom-widget {
    margin-top: 0 !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .n2-ss-section-main-content {
    height: 700px !important;
  }
  .n2-ss-slide {
    height: 700px;
  }
  .classroomTop img.background-vector {
    margin-top: 0 !important;
    height: 580px;
  }

  div#custom-classroom-widget.chw-widget-area.widget-area {
    padding-top: 0 !important;
  }

  .n2-font-e94a46bf4417601e4e51ce83eff68b69-hover {
    font-size: 25px !important;
  }
  .n2-font-b486d2806dfdff850b5df89bd07b8974-paragraph {
    font-size: 15px !important;
    margin-bottom: 10px !important;
  }

  .category-images * {
    margin: 0 !important;
  }

  div#n2-ss-5 .n2-font-de2bc301ae43593e655b222cfbb4da4c-paragraph {
    margin-bottom: 10px !important;
  }

  .n2-ss-slider-controls {
    top: 100px;
  }
  .submit {
    margin-top: 0 !important;
  }

  /* toilet */
  div.toilettop {
    padding-top: 15px;
    padding-bottom: 20px;
    margin-top: 0;
  }

  .toilettop h1 {
    margin-top: 10px;
  }

  .toilettop p {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    margin-bottom: 10px;
  }

  .toilettop img.background-vector {
    padding-top: 30px;
  }

  /* return page */
  div.returnAftertop {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .returnAftertop h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .returnAftertop p {
    padding: 0;
    margin-bottom: 10px;
  }

  .returnAftertop .image-container img {
    padding-top: 10px;
  }

  /* print and scan */
  div.printtop {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .printtop h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .printtop p {
    padding: 0;
    margin-bottom: 10px;
  }

  /* aboriginal page */

  div.aboriginaltop {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .aboriginaltop h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .aboriginaltop p {
    padding: 0;
    margin-bottom: 10px;
  }

  /* find library items page */

  div.findItemtop {
    padding-bottom: 20px;
  }

  .findItemtop h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .findItemtop p {
    padding: 0;
    margin-bottom: 10px;
  }

  .findItemtop h2 {
    margin-bottom: 0;
  }

  /* self load station page */
  div.selfLoanTop {
    padding-top: 0;
    padding-bottom: 20px;
    margin-top: 20px;
  }

  .selfLoanTop h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .selfLoanTop p {
    padding: 0;
    margin-bottom: 10px;
  }

  img.category-images {
    padding-top: 10px;
  }

  .categoryGoHomeButton .submit {
    margin-top: 0;
  }

  /* accessibility and learning support page */

  .accessibilityTop {
    /* padding-top: 30px !important; */
    padding-bottom: 20px !important;
  }

  .accessibilityTop h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .accessibilityTop p {
    padding: 0;
    margin-bottom: 10px;
  }
}

/*///////////////////////////////////// min-width: 400px and max-with: 575px///////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (min-width: 400px) and (max-width: 575px) {
  .desktop h1,
  .accessibilityTop h1,
  .studyrmtop h1,
  .toilettop h1,
  .returnAftertop h1,
  .printtop h1,
  .aboriginaltop h1,
  .findItemtop h1,
  .selfLoanTop h1 {
    font-size: 30px;
  }

  #desk-list li {
    font-size: 17px;
  }

  .desktop {
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .desktop .background-vector {
    padding-top: 30px !important;
  }
  .categoryGoHomeButton {
    margin-top: 0;
  }

  /* studyroom */

  .studyrmtop {
    margin-top: 0 !important;
    padding-bottom: 20px !important;
  }

  .studyrmtop img.background-vector {
    height: 620px !important;
  }
  .n2-ss-slider .n2-ss-slider-wrapper-inside .n2-ss-slider-controls {
    height: 700px !important;
  }

  .n2-ss-section-main-content {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
  div#n2-ss-3 .n2-style-f8293b450b12ef15d5c4ff97a617a3e3-heading {
    margin-bottom: 10px !important;
  }

  div#n2-ss-3 .n2-font-e94a46bf4417601e4e51ce83eff68b69-hover {
    font-size: 30px !important;
    margin-bottom: 10px !important;
  }

  div#n2-ss-3 .n2-font-cd9a48f404ebe3865525c4ed269fee55-paragraph {
    font-size: 16px !important;
  }

  .nextend-bullet-bar {
    margin-bottom: 30px !important;
  }

  #submit {
    margin-top: 60px !important;
  }

  /* classroom page */

  .classroomTop img.background-vector {
    height: 630px;
  }

  .category-images * {
    width: auto;
  }

  #custom-classroom-widget {
    margin-top: 0 !important;
  }

  /* toielt */
  div.toilettop {
    padding-bottom: 0;
    margin-top: 0;
  }
  .toilettop h1 {
    padding-bottom: 10px;
  }
  .toilettop p {
    font-size: 15px;
    padding-bottom: 0;
    padding-right: 0;
    margin-bottom: 10px;
  }

  .toilettop .image-container img {
    padding-top: 0;
    /* padding-bottom: 20px; */
  }

  /* return page */
  div.returnAftertop {
    padding-bottom: 20px;
  }
  .returnAftertop h1 {
    padding-bottom: 10px;
  }
  .returnAftertop p {
    font-size: 15px;
    padding-bottom: 0;
    padding-right: 0;
    margin-bottom: 10px;
  }

  .returnAftertop .image-container img {
    padding-top: 0;
    padding-bottom: 0;
  }

  /* print and scan page */

  div.printtop {
    padding-bottom: 20px;
  }

  .printtop h1 {
    margin-bottom: 10px;
  }
  .printtop p {
    font-size: 15px;
    padding-bottom: 0;
    padding-right: 0;
    margin-bottom: 10px;
  }

  /* aboriginal page */

  div.aboriginaltop {
    padding-bottom: 20px;
  }

  .aboriginaltop h1 {
    margin-bottom: 10px;
  }
  .aboriginaltop p {
    font-size: 15px;
    padding-bottom: 0;
    padding-right: 0;
    margin-bottom: 10px;
  }

  /* find library items page */

  div.findItemtop {
    padding-bottom: 20px;
  }
  .findItemtop h1 {
    margin-bottom: 10px;
  }
  .findItemtop p {
    font-size: 15px;
    padding-bottom: 0;
    padding-right: 0;
    margin-bottom: 10px;
  }

  div.findItemtop h2 {
    margin-bottom: 0;
  }

  /* self load station page */

  div.selfLoanTop {
    padding-top: 0;
    padding-bottom: 20px;
    margin-top: 20px;
  }

  .selfLoanTop p {
    font-size: 15px;
    padding-bottom: 0;
    padding-right: 0;
    /* margin-bottom: 10px; */
  }

  img.category-images {
    padding-top: 10px !important;
  }

  /* accessibility and learning support page */

  .accessibilityTop h1 {
    margin: 0;
  }

  .accessibilityTop p {
    font-size: 15px;
  }
}

/*////////////////////////// (min-width: 576px) and (max-width: 767px)/////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (min-width: 576px) and (max-width: 767px) {
  #desk-list li {
    font-size: 16px;
  }
  .desktop {
    margin-top: 0;
    padding-bottom: 30px;
  }

  .desktop .background-vector {
    padding-top: 30px !important;
  }

  .categoryGoHomeButton {
    margin-top: 15px !important;
  }

  /* toilet page */

  .toilettop {
    padding-top: 0 !important;
    padding-bottom: 20px !important;
  }

  #submit {
    margin-top: 0;
  }

  /* study room page */
  .n2-ss-slider-controls {
    height: 600px !important;
  }
  #classroomGoHomeButton {
    margin-top: 100px;
  }
  .nextend-bullet-bar {
    margin-top: 60px;
  }

  /* return page */
  div.returnAftertop {
    padding-bottom: 20px;
  }

  .returnAftertop h1 {
    padding-bottom: 10px;
  }
  .returnAftertop .image-container img {
    padding: 0;
  }

  /* classroom page */

  #custom-classroom-widget {
    margin-top: 0 !important;
    padding-bottom: 20px;
  }

  .n2-ss-layer {
    place-items: center;
  }

  /* self load station page */

  .selfLoanTop h1 {
    margin-top: 0;
  }

  img.category-images {
    padding-top: 10px !important;
  }

  .selfLoanTop {
    padding-bottom: 20px;
    padding-top: 0;
  }

  /* accessibility and learning support  */

  .accessibilityTop h1 {
    margin: 0;
  }
  .accessibilityTop {
    padding-bottom: 30px !important;
  }
}

/*/////////////////////////////// min-width: 768px) and (max-width: 991px/////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (min-width: 768px) and (max-width: 991px) {
  .desktop p {
    font-size: 17px;
  }
  #desk-list li {
    font-size: 18px;
  }
  .desktop {
    margin-top: 0;
    padding-bottom: 15px;
  }
  .desktop .background-vector {
    padding-top: 30px !important;
  }

  /* study room page */
  .n2-font-e94a46bf4417601e4e51ce83eff68b69-hover {
    margin-bottom: 10px;
  }

  .n2-ss-slider-controls {
    height: 600px !important;
  }
  #classroomGoHomeButton {
    margin-top: 100px;
  }
  .nextend-bullet-bar {
    margin-top: 60px;
  }
  .n2-ss-item-content {
    margin-bottom: 10px;
  }

  /* classroom page */

  #custom-classroom-widget {
    margin-top: 0 !important;
    padding-bottom: 20px;
  }

  .n2-ss-layer {
    place-items: center;
  }

  /* toilet */
  .toilettop {
    padding-bottom: 20px !important;
    padding-top: 0 !important;
  }
  #submit {
    margin-top: 0;
  }

  /* return page */
  .returnAftertop h1 {
    padding-bottom: 10px;
  }
  .returnAftertop .image-container img {
    padding: 0;
  }

  /* self load station page */

  img.category-images {
    padding-top: 10px;
  }
}

@media screen and (min-height: 600px) {
  /*feedback*/
  .col h1 {
    font-size: 30px;
  }
  .col .col-md-8,
  #feedback-return-text {
    margin: 0 10px 0 10px;
    padding: 10px;
  }
  .col {
    margin-top: 50px;
  }
  /*thank-you*/
  #thanks-text {
    font-size: 20px;
  }
  /*need-help*/
  .need-help-images * {
    width: 90% !important;
  }
  #contact-container {
    margin-top: 0;
  }
}
@media screen and (min-height: 658px) and (max-height: 666px) {
  /*need-help*/
  .need-help-images * {
    width: 85% !important;
  }
  div#custom-need-help-widget.chw-widget-area.widget-area {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-height: 667px) {
  /*need-help*/
  .need-help-images * {
    width: 88% !important;
  }
  .need-help-p * {
    font-size: 15px;
    padding-left: 0;
    padding-right: 0;
  }
  .n2-ss-widget.n2-style-6679a19c901d61fb802720533bbad114-heading.nextend-arrow.n2-ow-all.nextend-arrow-next.nextend-arrow-animated-fade,
  .n2-ss-widget.n2-style-6679a19c901d61fb802720533bbad114-heading.nextend-arrow.n2-ow-all.nextend-arrow-previous.nextend-arrow-animated-fade {
    top: -100px;
  }
}
@media screen and (min-height: 700px) {
  /*category*/
  div#button-widget-area.chw-widget-area.widget-area {
    padding-top: 10px;
  }
  /*need-help*/
  div#custom-need-help-widget.chw-widget-area.widget-area {
    padding-bottom: 0;
  }
  .need-help-images * {
    width: 100%;
  }
  /*feedback*/
  .feedback-h1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  div.two input {
    height: 3em;
  }
  #enquiry {
    min-height: 150px;
  }
}

@media screen and (min-height: 720px) and (max-height: 730px) {
  /*category*/
  a.wp-block-button__link.wp-element-button {
    min-height: 150px;
    padding: 20px;
    margin: 0 20px 10px 20px;
  }
  /*feedback*/
  .feedback-h1 {
    padding-bottom: 0;
  }
  /* Need Help Page */
  #need-help-slider {
    padding-top: 0;
  }
  .need-help-images * {
    width: 80% !important;
  }
  .need-help-p * {
    font-size: 15px;
  }
  .n2-ss-widget.n2-style-6679a19c901d61fb802720533bbad114-heading.nextend-arrow.n2-ow-all.nextend-arrow-next.nextend-arrow-animated-fade,
  .n2-ss-widget.n2-style-6679a19c901d61fb802720533bbad114-heading.nextend-arrow.n2-ow-all.nextend-arrow-previous.nextend-arrow-animated-fade {
    top: -50px;
  }
}
@media screen and (min-height: 731px) {
  /* Need Help Page */
  .need-help-images * {
    width: 90% !important;
  }
  .n2-ss-widget.n2-style-6679a19c901d61fb802720533bbad114-heading.nextend-arrow.n2-ow-all.nextend-arrow-next.nextend-arrow-animated-fade,
  .n2-ss-widget.n2-style-6679a19c901d61fb802720533bbad114-heading.nextend-arrow.n2-ow-all.nextend-arrow-previous.nextend-arrow-animated-fade {
    top: -30px;
  }
}
@media screen and (min-height: 740px) {
  /* Need Help Page */
  .n2-ss-widget.n2-style-6679a19c901d61fb802720533bbad114-heading.nextend-arrow.n2-ow-all.nextend-arrow-next.nextend-arrow-animated-fade,
  .n2-ss-widget.n2-style-6679a19c901d61fb802720533bbad114-heading.nextend-arrow.n2-ow-all.nextend-arrow-previous.nextend-arrow-animated-fade {
    top: -100px;
  }
  .need-help-images * {
    width: 95% !important;
  }
  .need-help-p * {
    font-size: 15px;
  }
}
@media screen and (min-height: 786px) {
  /* Need Help Page */
  .need-help-images * {
    width: 100%;
  }
  .n2-ss-widget.n2-style-6679a19c901d61fb802720533bbad114-heading.nextend-arrow.n2-ow-all.nextend-arrow-next.nextend-arrow-animated-fade,
  .n2-ss-widget.n2-style-6679a19c901d61fb802720533bbad114-heading.nextend-arrow.n2-ow-all.nextend-arrow-previous.nextend-arrow-animated-fade {
    top: -60px;
  }
  /*feedback*/
  #theForm {
    height: 100vh;
  }
}
@media screen and (min-height: 800px) {
  /*contact*/
  div.contacttop {
    min-height: 100vh;
  }
  #contact-container {
    margin-bottom: 150px;
  }
  /*feedback*/
  #theForm {
    height: 100vh;
  }
  #title,
  #email {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  #enquiry {
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 200px;
  }
  .submit {
    margin-top: 30px;
  }
  .feedback-h1 {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* category page */
  div.top {
    margin-top: 0;
  }
  a.wp-block-button__link.wp-element-button {
    padding: 20px 20px 0 20px;
    min-height: 140px;
  }
  div#category-container {
    min-height: 100vh;
  }
  div#button-widget-area.chw-widget-area.widget-area {
    padding: 10px 10px;
    min-width: 350px;
  }

  /* Need Help Page */
  .need-help-images * {
    width: 90% !important;
  }
  .need-help-p * {
    font-size: 16px;
  }
  .need-help-h1 * {
    font-size: 30px !important;
    margin-top: 5px;
  }
}

@media screen and (min-height: 812px) and (max-height: 823px) {
  /*category*/
  a.wp-block-button__link.wp-element-button {
    min-height: 120px;
  }
  /*feedback*/
  #title,
  #email {
    margin-bottom: 0;
    margin-top: 0;
  }
  #enquiry {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 180px;
  }
  .feedback-h1 {
    font-size: 25px;
  }
  /* Need Help Page */
  .need-help-images * {
    width: 98%;
  }
  .need-help-h1 * {
    margin-top: 30px;
  }
}
@media screen and (min-height: 840px) {
  /*feedback*/
  #theForm {
    height: 90vh;
  }
}
@media screen and (min-height: 844px) and (max-height: 882px) {
  /*category*/
  a.wp-block-button__link.wp-element-button {
    min-height: 130px;
  }
  /* Need Help Page */
  .n2-ss-widget.n2-style-6679a19c901d61fb802720533bbad114-heading.nextend-arrow.n2-ow-all.nextend-arrow-next.nextend-arrow-animated-fade,
  .n2-ss-widget.n2-style-6679a19c901d61fb802720533bbad114-heading.nextend-arrow.n2-ow-all.nextend-arrow-previous.nextend-arrow-animated-fade {
    top: -20px;
  }
  .need-help-h1 * {
    margin-top: 40px;
  }
}

@media screen and (min-height: 882px) and (max-height: 900px) {
  /*category*/
  div#button-widget-area.chw-widget-area.widget-area {
    min-width: 300px;
  }
  /*feedback*/
  .feedback-h1 {
    font-size: 25px;
  }
  /* Need Help Page */
  .need-help-h1 * {
    margin-top: 40px;
  }
  .n2-ss-widget.n2-style-6679a19c901d61fb802720533bbad114-heading.nextend-arrow.n2-ow-all.nextend-arrow-next.nextend-arrow-animated-fade,
  .n2-ss-widget.n2-style-6679a19c901d61fb802720533bbad114-heading.nextend-arrow.n2-ow-all.nextend-arrow-previous.nextend-arrow-animated-fade {
    top: -40px;
  }
  .need-help-p * {
    font-size: 18px;
  }
}

@media screen and (min-height: 900px) {
  /*feedback*/
  #title,
  #email {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  #enquiry {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .submit {
    margin-top: 30px;
  }
  #theForm {
    height: 100vh;
  }
  /*category*/
  div#button-widget-area.chw-widget-area.widget-area {
    padding: 20px 0 20px 0;
    min-width: 350px;
  }
  a.wp-block-button__link.wp-element-button {
    margin: 5px 0 5px 0;
    min-height: 140px;
  }
  div#category-container {
    height: 100vh;
  }
  /* Need Help Page */
  .need-help-h1 * {
    margin-top: 50px;
  }
  .need-help-images * {
    width: 100%;
  }
  .n2-ss-widget.n2-style-6679a19c901d61fb802720533bbad114-heading.nextend-arrow.n2-ow-all.nextend-arrow-next.nextend-arrow-animated-fade,
  .n2-ss-widget.n2-style-6679a19c901d61fb802720533bbad114-heading.nextend-arrow.n2-ow-all.nextend-arrow-previous.nextend-arrow-animated-fade {
    top: -20px;
  }
  .need-help-p * {
    font-size: 18px;
  }

}

@media screen and (min-height: 1000px) {
  /*category*/
  div#button-widget-area.chw-widget-area.widget-area {
    min-width: 400px;
  }
  a.wp-block-button__link.wp-element-button {
    min-height: 160px;
  }
  /* Need Help Page */
  #need-help-slider {
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
  }
  div#custom-need-help-widget.chw-widget-area.widget-area {
    padding-top: 0;
    padding-bottom: 0;
  }
  .need-help-images * {
    width: 100%;
  }
  .need-help-p * {
    font-size: 20px;
  }
  .need-help-h1 * {
    font-size: 35px !important;
    margin-top: 0;
  }
  .n2-ss-widget.n2-style-6679a19c901d61fb802720533bbad114-heading.nextend-arrow.n2-ow-all.nextend-arrow-next.nextend-arrow-animated-fade,
  .n2-ss-widget.n2-style-6679a19c901d61fb802720533bbad114-heading.nextend-arrow.n2-ow-all.nextend-arrow-previous.nextend-arrow-animated-fade {
    top: 40px;
  }
  /*feedback*/
  .feedback-h1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (min-height: 1138px) {
  /*category*/
  a.wp-block-button__link.wp-element-button {
    min-height: 180px;
    min-width: 180px;
    padding: 30px;
  }
}
@media screen and (min-height: 1366px) {
  /* Need Help Page */
  .n2-ss-widget.n2-style-6679a19c901d61fb802720533bbad114-heading.nextend-arrow.n2-ow-all.nextend-arrow-next.nextend-arrow-animated-fade,
  .n2-ss-widget.n2-style-6679a19c901d61fb802720533bbad114-heading.nextend-arrow.n2-ow-all.nextend-arrow-previous.nextend-arrow-animated-fade {
    top: 40px;
  }
}

